doctype html
html
  head
    meta(charset='utf-8')
    title BerYoga
    link(rel='stylesheet' href='css/style.css')
  body
    header.header
      .container
        div(class=['header-row', 'header-top'])
          a(href='index.html' class='logo header-top-lh') BerYoga
          nav(class=['nav-top-menu', 'header-top-lh'])
            - var menu = [{title: 'Home', link: ''}, {title: 'About Us', link: 'about'}, {title: 'Contact', link: 'contacts'}, {title: 'Pricing', link: 'prices'}];
            - var currentPage = 'Home';
            ul(class='top-menu')
              each item in menu
                li.top-menu-item
                  a(
                    href= '#'
                    class=['link', 'top-menu-link']
                    class= currentPage === item.title ? 'item-active':''
                    data-link= item.link
                  )= item.title
          button(
            type='button'
            class=['btn', 'btn-primary', 'btn-login']
          ) Login
        .header-row
          .header-content
            h3 Beautiful videos. Become your best self with BerYoGa.
            p(class=['base-text', 'header-text'])
              | For me, BerYoga is more than just a sport – it is lifestyle, a state mind, a philosophy.
              br
              | Now I decided to open BerYoga so that I can share my love and joy of bikram yoga.
              | It is my hope that you too can discover all the positive impacts of bikram yoga and make
              | bikram yoga as a part of your life.
            .header-content-buttons
              button(
                type='button'
                class=['btn', 'btn-primary', 'btn-service']
              ) Service
              button(
                type='button'
                class=['btn', 'btn-inverse', 'btn-signup']
              ) Sign Up
    section.promo-block
      .container
        .section-row
          .section-title
            h3#about Why Choose BerYoga?
            p.base-text
              | Access hundreds of online yoga classes shot in natural studios around the world.
              br
              | Unlimited access for $150/Years.
        .section-row.promos
          .promo-box
            .promo-img
              img(src='images/promo_lifetime.png')
            .promo-text
              h4 Lifetime Updates
              p Free lifetime updates for our lates collection.
          .promo-box
            .promo-img
              img(src='images/promo_videos.png')
            .promo-text
              h4 Anywhere Videos
              p Access world-class online yoga videos can be seen on the application & web
          .promo-box
            .promo-img
              img(src='images/promo_access.png')
            .promo-text
              h4 Access Unlimited
              p Find lots of yoga video tutorials, from all over the world
    section.features-block
      .container
        .section-row
          .section-col
            img(src='images/yoga-1.png')
          .section-col.features
            h3 What’s on BerYoga?
            .features-text
              h4 New Classes Every Week
              p.base-text
                | Discover hundreds of classes in our library.
                | Save your favorites, try new styles and customize your routine to fit your schedule.
            .features-text
              h4 Series
              p.base-text Our multi-class series are designed to help you achieve your fitness and wellness goals.
            .features-text
              h4 Pose Directory
              p.base-text Get step-by-step instructions on poses and sequences in our extensive video pose directory.
    section.articles-block
      .container
        div(class=['section-row', 'articles-top'])
          .article-preview
            p.article-author By Brittany Risherjan _____
            h3 The Healing Power of Trauma-Informed Yoga Classes.
            p.base-text
              | Celebrating five years of service, the nonprofit Exhale to Inhale brings free,
              | trauma-informed yoga classes to rape crisis centers and domestic violence shelters in Jakarta.
            a(href='#' class='link-preview')
              = 'Read More >'
          img(src='images/the_healing.png')
        div(class=['section-row', 'articles-bottom'])
          img(src='images/yoga-2.png')
          .article-preview
            h3 5 Ways to Make Every Yoga Class More Restorative and Therapeutic
            p.base-text
              | In part four of our series on teaching trauma-sensitive yoga, teacher Daniel Sernicola shares
              | five practices to help your students get grounded and cultivate mindfulness.
            p.base-text
              | Teachers, need liability insurance? As a TeachersPlus member, you can access low-cost coverage
              | and more than a dozen valuable benefits that will build your skills and business. Enjoy a free
              | subscription to YJ, a free profile on our national directory, exclusive webinars and content packed
              | with advice, discounts on educational resources and gear, and more
            a(href='#' class='link-preview')
              = 'Read More >'
    footer.footer
      .container
        div(id='prices' class='section-prices')
          - var privileges_common = ['Unlimited Access Video', 'Saved Videos', 'Offline Access'];
          div(class=['price-box', 'price-box-small'])
            ul.privileges-list
              each privilege in privileges_common
                li.standart-priv= privilege
            .price
              span.currency $
              span.price-value 15
              span.price-period /Mo
            p Billed monthly
            button(
            type='button'
            class=['btn', 'btn-alternate']
            ) Become A Member
          div(class=['price-box', 'price-box-big'])
            .best-title Best Seller
            ul.privileges-list
              each privilege in privileges_common
                li.best-seller-priv= privilege
            .price
              span.currency $
              span.price-value 150
              span.price-period /Year
            p Biled a one year - Save 45%
            button(
            type='button'
            class=['btn', 'btn-primary']
            ) Become A Member
          div(class=['price-box', 'price-box-small'])
            h4 Yoga Class
            - var privileges_yoga_class = ['Only Yoga Class', 'Unlimited Access Video'];
            ul.privileges-list
              each privilege in privileges_yoga_class
                li.standart-priv= privilege
            .price
              span.currency $
              span.price-value 5
              span.price-period /Mo
            p Billed monthly
            button(
              type='button'
              class=['btn', 'btn-alternate']
            ) Become A Member
        .bottom-menu
          .section-row
            .bottom-menu-col
              div(id='contacts' class='bottom-menu-title') CONTACT us
              div(class='contacts' itemscope='' itemtype='http://schema.org/Organization')
                span(itemprop='address')
                  | Beryoga, Jl. Sudirman
                  br
                  | no. 129, Tebet
                  br
                  | Jakarta Selatan
                  br
                br
                span(itemprop='email') beryoga@yuk.com
                br
                span(itemprop='telephone') 0812 6824 2856 (Main)
                  br
                  | (072) 2673842  (Toll-free)
            .bottom-menu-col
              .bottom-menu-title About us
              - var about_us_menu = ['Our Mission', 'Our Team', 'Management', 'Policies'];
              ul
                each menuitem in about_us_menu
                  li
                    a(href='#' class='link')= menuitem
            .bottom-menu-col
              .bottom-menu-title Our Programs
              - var our_programms_menu = ['Yoga Class', 'Bikram Yoga', 'Acro Yoga', 'Sveda Yoga', 'Yo Mama'];
              ul
                each menuitem in our_programms_menu
                  li
                    a(href='#' class='link')= menuitem
            .bottom-menu-col
              .bottom-menu-title support trails
              - var support_menu = ['Donate', 'Individual Membership', 'Gift membership', 'Hiker Store'];
              ul
                each menuitem in support_menu
                  li
                    a(href='#' class='link')= menuitem
          .section-row
            p.copy Copyright © 2019 BerYoga All rights reserved.
    script(src="js/script.js")